* {
  outline: 1px solid red;
}
#title {
  display:block;
  height: 150px;
  width: 100%;
}
.articles {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: flex-start;
  margin-block-start: 0%;
  margin-block-end: 0%;
  padding-inline-start: 0%;
  column-gap: 49px;
}
.image {
overflow: auto;
overflow-clip-margin: unset;
width: 12em;
height: 13em;
}