@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  box-sizing: border-box;
  margin: 5px;
  background-color: black;
  padding: 0%;
}
:root {
  --grey-color: rgba(74, 71, 71, 0.658);
  --orange-color: rgb(255, 106, 0);
}
h1,h2,h3,span,p,a,footer {
  font-family: 'Anton', sans-serif;
  font-weight:300;
  background-color: var(--grey-color);
  color: var(--orange-color);
}
a {
  color: rgba(151, 154, 156, 0.627);
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}
div {
  display: flex;
}
p {
  margin: 10px 10px 10px 10px;
  display:block;
  text-align: center;
}
footer {
  background-color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
}
li>span {
  background-color: black;
  margin: 0px;
}
span>p {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0px;
  background-color:black;
}
.footer-links{
  color: coral;
  background-color: black;
}
.title {
  display:block;
  height: 150px;
  width: 100%;
  margin: 10px;
}
.article {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  column-gap: 25px;
  row-gap: 10px;
}
.image {
  margin: 10px;
  overflow: auto;
  overflow-clip-margin: unset;
  width: 12em;
  height: 13em;
}
@media screen and (max-width: 375px)  {
  
  .image {
    width: 5em;
    height: 6em;
  }
  .title {
    height: 5em;
    width: 93%;
  }
  .margin-top-a {
    position: relative;
    top:10%;
  }
  p {
    font-size:small;
  }
  a {
    font-size: small;
  }
  li {
    max-width: 6em;
  }
  h2>p {
    font-size: medium;
  }
}

@media screen and (min-width: 376px) and (max-width: 768px)  {
  
  .image {
    width: 8em;
    height: 9em;
  }
  .title {
    height: 8em;
    width: 97%;
  }
  .margin-top-a {
    position: relative;
    top: 10%;
  }
  #no-margin{
    top: 0%;
  }
  p {
    font-size:large;
  }
  a {
    font-size: medium;
  }
  li {
    max-width:9em ;
    max-height: 17em;
  }
}

